/**
 * Created by Thaddaeus Dahlberg, Software Engineer, University of St. Thomas on 10/23/2024.
 */
:host {
    display: block;
    border-radius: 5px;
    background-color: #fff;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
}